body {
    font-family: 'EB Garamond';
    align-content: center;

    /* display: flex; */
}

.header {
    width: 100%;
}

/* font-style: Bold;
font-size: 60px;
line-height: 83.3px;
line-height: 106% ;*/
.sec1 {
    /* font-style: Bold; */
    font-weight: bold;
    font-size: 23px;
    line-height: 83.3px;
    position: relative;
    text-align: center;
    color: #FF6949;
    justify-content: center;
    align-items: center;
    /* line-height: 106%  */
}

.text {
    color: black;
    font-size: 18px;
    line-height: 20px;
    line-height: 120%;
    padding: 0 12%;
    font-weight: 500;
    color: #000;
}

.hd2 {
    font-size: 42px;
    margin-bottom: 0.5%;
    margin-top: 4%;
    /* line-height: 83.3px; */
    position: relative;
    text-align: center;
    color: #FF6949;
    font-weight: bolder;
    color: #000;
}

.box {
    width: 80%;
    margin: auto;
    background-color: #FF694996;
    display: flex;
    position: relative;
    height: 285px !important;

}

.box:after,
.box:after {
    z-index: -1;
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: -25%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 50px #FF694996;
    border-left: solid 35px transparent;
    border-right: solid 35px transparent;
}

.img {
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 1.5%;
}

.wash{ 
    padding-top: 5%;
}
.text2 h1 {
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.text3 {
    margin-top: -2%;
    font-size: 18px;
    font-family: 'EB Garamond';
    font-weight: 500;
}

.txt {
    justify-content: center;
    align-items: center;
    margin: 6% 0% 3% 0%;
    text-align: left !important;
}

.t1:after,
.t1:after {
    z-index: 1;
    position: absolute;
    top: 106%;
    left: 71%;
    margin-left: -25%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 50px #fff;
    border-left: solid 35px transparent;
    border-right: solid 35px transparent;
}

.box2 {
    display: flex;
    flex-direction: row;
    margin: 0 9.5%;
    text-align: right ;
}

.sterilizeTxt{
    text-align: center !important;
    margin-left: 0% !important;
}
.sterilizeTxt>.text2>h1{
    margin-top: 10%;
    text-align: right !important;
}

.sec3 {
    text-align: center;
}

.sec3 .text3 {
    margin-top: 2.5%;
}

.a4 {
    width: 260px;
}

.sec4 {
    margin-top: 5%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.boxs {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.b1 {
    width: 340px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sec4 h1 {
    color: #FF6949;
}

.boxs .text3 {
    color: #000;
    font-size: 34px;
}

.sec5,
.sec6 {
    text-align: center;
    margin-top: 5%;
}

.sec5 .text2 {
    margin-bottom: 4%;
}

.relaxpic,
.relaxpic2 {
    display: flex;
    justify-content: space-between;
    margin: 3% 18%;
}

.relaxpic img {
    width: 300px;
}

.relaxpic2 img {
    width: 290px;
}

.sec6 .text3 {
    margin: 7% 12%;
    font-size: 23px;
    font-weight: 500;
}

.sec7 .box{
    width: 80%;
}
.box7{
    height: 350px;
}
.a11{
    width: 250px;
    position: relative;
    left: -25px;
    top: 8px;
}
.r3 {
    margin-top: 9%;
    font-weight: 500;
    padding: 0 3%;
    font-size: 18.5px;
}

.t2:after,
.t2:after {
    z-index: 2;
    position: relative !important;
    top: 17.5%;
    right: -720%;
    margin-left: -25%;
    content: '';
    width: 0;
    height: 0;
    border-top: solid 50px rgb(255, 255, 255);
    border-left: solid 35px transparent;
    border-right: solid 35px transparent;
}

.a12 {
    margin: 5% 0;
    width: 300px;
}

.sec8 .txt .text3 {
    margin: 14% 5% 0 0%;
}

.sec9>h1 {
    font-size: 45px;
    text-align: center;
}
.sec9{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.gbox {
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: auto;
    width: 80%;
    display: flex;
    text-align: left;
    background: rgb(255, 105, 73);
    background: linear-gradient(180deg, rgba(255, 105, 73, 0.41) 0%, rgba(255, 255, 255, 1) 90%);
}
.wr1{
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}
.a13{
    width: 300px;
}
.txt{
    text-align: left;
    margin:0 5% 0 4%;
}
.txt>.text1{
    font-size: 21px;
}
